.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.legend {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 10px;
  border: 1px solid;
}

.content {
  display: flex;
  margin: 10px;
}

.purple {
  margin-right: 5px;
  width: 20px;
  background-color: #720899;
}

.blue {
  margin-right: 5px;
  width: 20px;
  background-color: blue;
}

.green {
  margin-right: 5px;
  width: 20px;
  background-color: green;
}

.turquoise {
  margin-right: 5px;
  width: 20px;
  background-color: #089988;
}
